nav.TeamNav {
  margin: 10ex 0 2ex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav.TeamNav a {
  display: block;
  text-decoration: none;
  font-size: 1.75rem;
  padding: 1ex 0.5em;
  margin: 0 0.75em;
  border: 8px solid;

  transition: color 0.2s, border-color 0.2s;
  color: var(--team-color);
  border-color: var(--team-color);
}

nav.TeamNav a:hover {
  color: #fff;
  border-color: #fff;
}
