div.App {
  padding: 0.5ex 2em;
}

footer.site-footer {
  padding-top: 2rem;
  font-size: 1.25rem;
  font: 1.25rem source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: bold;
}

footer.site-footer a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
