@import url("https://fonts.googleapis.com/css?family=Fugaz+One&display=swap");

body {
  margin: 0;
  font-family: "Fugaz One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #100020;
  text-align: center;
  box-sizing: border-box;
}
